.cardd {
  border: solid #d6d1d1 1px;

  padding: 0.5rem;
  margin: 1rem;
  width: 50;
  height: 14rem;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
}

.cardd:hover {
  box-shadow: -4px 6px 12px -4px rgb(185, 180, 180);
}

.contenu {
  display: flex;
  flex-direction: row;
}
.leftside {
  /* border: solid grey 1px; */
  display: flex !important;
  flex-direction: column;
  padding: 0.2rem;
  margin-top: 0.3rem;
  align-content: center !important;
  align-items: center !important;
  height: fit-content;
  font-size: 15px;
}

.rightside {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 5rem;
  width: 45rem;
}

.desc {
  overflow: hidden;
  position: static;
  height: 6.5rem;
  padding: 0.2rem;
}
.Description {
  margin-top: 0.2rem;
  width: 40rem;

  font-size: 14px;
  color: gray;
}

.wilaya {
  color: rgb(12, 171, 192);
  font-weight: 600;

  float: left;
  width: fit-content;

  font-size: 14px;
}

.Prenom {
  font-weight: 600;
  font-size: 14px;
  color: gray;
}
.age {
  color: gray;
  font-weight: 600;
  font-size: 14px;
}
.nomService {
  font-weight: 600;
  font-size: 18px;

  color: rgb(59, 57, 57);
}
.pprenom {
  font-weight: 600;
  font-size: 18px;
  margin-left: 6px;
  color: rgb(59, 57, 57);
}
.image {
  /* content:url("../../../images/profile.png");  */
  margin-top: 0.7rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid 0.2px rgb(233, 230, 230);
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-items: center;

  margin-top: 1.5rem;
}
#btndetails {
  width: fit-content;
}
