/* .liste{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
 
}
 .boddy{
     margin-top: 10px;
     display: flex;
     flex-direction: row;
  
     
 }

 .filtre{
       display: flex;
       flex-direction: column;
       width: 80%;
       height: 500px;
       margin-left: 300px;
       margin-top: 40px;
       padding: 30px;
       border: solid 1px  #d8d4d4 ;
    box-shadow:  3px 3px  #d8d4d4  ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
 }
 input{
     padding: 5px;
     margin: 10px;
     border: solid  #d8d4d4  1px;
 } */