.apropos {
  margin-top: 5rem;

  width: 90%;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.allapropos {
  width: 100%;
  background-color: white;
}
.paragraphe {
  width: 500px;
  height: 350px;

  font-family: "Nunito", sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 40px;
  padding-left: 30px;
  margin-left: 45px;
}
.tofcoté {
  background-image: url("../../images/pillow.jpg");
  height: 350px;
  width: 450px;
  margin-top: 8px;
  background-size: cover;
  margin-right: 15px;
}
.imgetp {
  display: flex;
  flex-direction: row;
}
.imageapropos {
  background-image: url("../../images/hands.jpg");

  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 350px;
  margin-right: 60px;
  background-size: cover;
  margin-left: 15px;
}
.imageetservices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  justify-items: center;
}
.elmt {
  margin-top: 3rem;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 16px;
  list-style-type: none;
  font-weight: 500;
}
.elmts {
  width: 450px;

  height: 350px;
  margin-right: 50px;
}

.titre {
  font-family: "Nunito", sans-serif;
  color: rgb(0, 191, 213);
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 3rem;
  padding: 15px;

  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
