@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.all {
  background-color: rgb(242, 242, 242);
  padding-bottom: 5rem;
}
.thetop {
  margin-top: 5px;
  height: 4rem;
  font-family: "Ninuto", sans-serif;
}

.containerr {
  /* Used to position the input */
  position: relative;
  font-family: "Nunito", sans-serif;
  /* Center the content */
  /* align-items: center; */
  display: flex;
  /* Border */
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.container__input {
  /* Take the full size */
  height: 100%;
  left: 0;

  top: 0;
  width: 100%;

  /* Make it transparent */
  opacity: 0;
}

.creer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45rem;
  width: 100%;

  background-color: rgb(242, 242, 242);
  padding: 20px 25px;
  /* 
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
  position: static;
}
.container .title {
  margin-left: 5px;
  font-size: 25px;
  font-weight: 600;
  position: static;
  color: rgb(0, 170, 189);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px 0 10px 0;
}
form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 45px);
}
#demo-simple-select-label {
  font-family: "Nunito", sans-serif;
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 2px;
}
.user-details .input-box input {
  height: 2rem;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 8px;
  border: 0.7px solid #ccc;
  border-bottom-width: 2px;
  position: static;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #75a7cf;
}
form .gender-details .gender-title {
  font-size: 12px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 0.7rem 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 5px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form input[type="radio"] {
  display: none;
}
/* form .button {
  height: 2rem;
  width: 400px;
  font-size: 14px;
  margin-left: 6rem;
} */
form .button input {
  height: 30px;
  width: 60%;
  margin-left: 5rem;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(0, 170, 189);
}

form .button input:hover {
  transform: scale(1.02);
}
form .button button:hover {
  transform: scale(1.02);
}

.textt {
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  outline: none;
  padding: 0.5rem;
}
textarea {
  height: 6rem;
  width: 35rem;
  /* resize: none; */
  border-radius: 5px;
  font-size: 14px;
}

.text-message {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
}
.details {
  font-size: 14px;
  font-weight: 600;
}
.phprofile {
  width: 50%;
  height: 80px;
  margin-left: 125px;
}
